doctype html
head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Octolion shop
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js")
body
  ul(class="uk-subnav uk-subnav-pill", uk-margin, id='filter-btn')
    li(class="uk-active")
      a(href='#') Hola
        span(uk-icon="icon:  triangle-down")
        div(uk-dropdown="mode: click;")
          ul.uk-nav.uk-dropdown-nav
            li.uk-active Uno